// ANIMATIONS
// --------------------------------------------------

@include keyframes(wiggle) {
	25%, 50%, 75%, 100% { @include transform-origin(top center); }
	25% { @include transform(rotate(8deg)); }
	50% { @include transform(rotate(-4deg)); }
	75% { @include transform(rotate(2deg)); }
	100% { @include transform(rotate(0deg)); }
}


@include keyframes(pop) {
	50% { @include transform(scale(1.1)); }
	100% { @include transform(scale(1)); }
}


@include keyframes(hang) {
	50% { @include transform(translateY(-3px)); }
	100% { @include transform(translateY(-6px)); }
}
.hang {
	display: inline-block;
	@include animation-name(hang);
	@include animation-duration(0.5s);
	@include animation-timing-function(linear);
	@include animation-iteration-count(infinite);
	@include animation-direction(alternate);
}

/* Taken from http://codepen.io/virajsoni/pen/uvHBD */
.container-cute-bg-animation {
	.dot {
	width: 25px;
	height: 25px;
	margin: 0px;
	border-radius: 0%;
	display: inline-block;
	float: left;
	-webkit-transition: 0.8s;
	}
}

.dot:hover {
	-webkit-transform: scale(2);
	-webkit-transition: none;
}

@for $i from 1 through 500 {
.dot:nth-child(#{$i}) {
		$red: random(256)-1;
		$green: random(256)-1;
		$blue: random(256)-1;
		background-color: rgb($red, $green, $blue);
	}
}
/* End Codepen.io code */
