<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <style>
    .sliding-menu-content {
      top: 0;
      right: 0;
      text-align: center;
      visibility: hidden;
      height: 100%;
      width: 100%;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
    }
    @media (min-width: 768px) {
      .form-inline {
       display: -webkit-inline-box;
       display: -moz-inline-box;
       display: -ms-inline-box;
       display: inline-box;
       margin-bottom : 0;
       vertical-align: middle;
      }
    }
    </style>

    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <!-- HTML5 Shiv and Media Query Support for IE -->
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/js/vendor/html5shiv.min.js"></script>
      <script src="{{ site.url }}/js/vendor/respond.min.js"></script>
    <![endif]-->

    <!-- Begin MailChimp Signup Form related includes -->
    <!--link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css"-->
    <!-- End MailChimp Signup Form related includes -->
  </head>

  <body>
    {% include header.html %}
    {% include navigation-sliding.html %}

    {% if page.image.feature %}
    <div class="page-lead container-cute-bg-animation" id="page-lead-with-bg-image" style="background-image:url({{ site.url }}/images/{{ page.image.feature }})">
      <div class="wrap page-lead-content">
        <h1>Fastah</h1>
        <h2>A fast, multi-lingual web for your iPhone and iPad</h2>
        <!-- Start of qMailchimp form -->
        <form action="//blackbuck.us3.list-manage.com/subscribe/post?u=f74d9174f85a21a209f5cc0b0&amp;id=74a4677316" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" role="form" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Get notified when we launch!</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required autocomplete="on">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_f74d9174f85a21a209f5cc0b0_74a4677316" tabindex="-1" value="" autocomplete="off">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn-inverse">
            </div>
          </div>
        </form>
        <!-- End of Mailchimp form -->
      </div><!-- /.page-lead-content -->
    </div><!-- /.page-lead -->
    {% endif %}

    <div id="page-wrapper">
      {% include browser-upgrade.html %}

      <div id="main" role="main">     
        <div class="wrap">
          <div class="page-title">
            <h1>{{ page.title }}</h1>
            {% if page.excerpt %}<h2>{{ page.excerpt }}</h2>{% endif %}
          </div>
          <div class="archive-wrap">
            <div class="page-content">
              {{ content }}
            </div><!-- /.page-content -->
          </div class="archive-wrap"><!-- /.archive-wrap -->
        </div><!-- /.wrap -->
      </div><!-- /#main -->
      {% if page.share != false %}{% include share-this.html %}{% endif %}
      {% include footer.html %}
    </div>
    <script src="{{ site.url }}/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="{{ site.url }}/js/main.js"></script>
    <script type="text/javascript">
      var fragment = document.createDocumentFragment();
      for (var i = 0; i < 500; i ++) {
        aDiv = document.createElement('div');
        aDiv.className = 'dot';
        fragment.appendChild(aDiv);
      }
      //var tlDiv = document.getElementById("page-lead-with-bg-image");
      //tlDiv.insertBefore(fragment, tlDiv.firstChild);
    </script>
  </body>

</html>
